@model DataBricksWeb.Areas.Partner.Model.UserModel
@{
    ViewBag.Title = "List";
}

<style>
</style>
<style>
    #example1 {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #3c8dbc;
            color: white;
        }
</style>

<section class="content-header">
    <h1>
        Partners List
    </h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard/landingpage"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Partners List</li>
    </ol>
</section>

<div id="newloader">
    <section class="content">
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img style="width: 30%;margin-left: 100px;margin-top: 55px;" src="~/NewAdmin/dist/img/loading-waiting.gif" class="img-circle" alt="User Image">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </section>
</div>

<div id="tablehide" style="display:none;">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow: auto;">
                            <table id="example1" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Full Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Users != null && Model.Users.Count > 0)
                                    {
                                        foreach (var user in Model.Users)
                                        {
                                            <tr>
                                                <td>@user.CompanyName</td>
                                                <td>@user.FullName</td>
                                                <td>@user.PhoneNumber</td>
                                                <td>@user.EmailId</td>
                                                <td>@user.RoleName</td>
                                                <td style="text-align:center;">
                                                    <a href="#" class="lnkUserEdit" data-id="@user.Id"><p class="fa fa-eye"><p></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6">No Data Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </div>

            </div>

        </div>


    </section>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/CustomScript.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $("#btnAddUser").click(function () {
        fnRedirecttoEdit(0);
    });

    $(document).on("click",".lnkUserEdit",function () {
        fnRedirecttoEdit($(this).attr("data-id"));
    });

    function fnRedirecttoEdit(id) {
        window.location.href = "@Url.Action("Details","Partner",new { area = "Report"})?id=" + id;
    };
</script>

<script>
        window.setInterval('refresh()', 1000);
        function refresh() {
            document.getElementById("newloader").style.display = 'none';
            document.getElementById("tablehide").style.display = 'block';
    }

    
    var v = document.getElementById("Partnersnew");
    v.className += "tabcolor";
</script>
